/* -------------------------------------------- General stuff -------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(dms-images/dm-stormy-wide.png);
    /* Replace with your actual image path */
    background-size: cover;
    /* Ensures the image always covers the entire screen */
    background-position: top center;
    /* For mobile, focus on the top part of the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    background-attachment: scroll;
    /* Scrolls with the content on mobile */
}



@font-face {
    font-family: JunigardenSwash;
    src: url(fonts/JunigardenSwash.otf);
    font-weight: bold;
}

/* -------------------------------------------- Default styles for mobile  -------------------------------------------- */
h1 {
    color: #B4DD1E;
}

.welcome-container {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-family: 'JunigardenSwash';
    font-size: 2.5rem;
    text-align: center;
    text-wrap: wrap;
    height: 300px;
}

.welcome-container h1 {
    color: #B4DD1E;
    padding-bottom: 100px;
    padding-top: 100px;
}



/*-----------------------------------CONTENT SPACE----------------------------------------------------*/


/*-----------------------------------------------CONTENT SPACE--------------------------------------------------*/

/* ------------------------- FOOTER SPACE --------------------------------------------*/


/* -------------------------------------------- Use media queries to adjust for larger screens --------------------------------------------*/
@media (min-width: 768px) {

    /* Styles for tablets and larger devices */
    body {
        body {
            font-size: 18px;
            flex-direction: row;
            justify-content: center;
            background-image: url(dms-images/dm-stormy-wide.png);
            background-size: cover;
            background-repeat: no-repeat;
            height: 10vh;
            margin: 0;
            background-color: black;
            overflow-x: hidden;

        }

    }
}

/*
@media (min-width: 1024px) {
} */
/* Styles for desktops */