/* -------------------------------------------- General stuff -------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(dms-images/dm-stormy-wide.png);
    background-size: cover;
    background-color: black;
    /* Ensures the image always covers the entire screen */
    background-position: calc(15%) center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* Scrolls with the content on mobile */
    padding-top: 150px;
}



@font-face {
    font-family: JunigardenSwash;
    src: url(fonts/JunigardenSwash.otf);
    font-weight: bold;
}

/* -------------------------------------------- Default styles for mobile  -------------------------------------------- */
h1 {
    color: #b59e28;
}

.welcome-container {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    font-family: 'JunigardenSwash';
    font-size: 1.5rem;
    text-align: center;
    text-wrap: wrap;
    height: 100px;
}

.welcome-container h1 {
    color: #b59e28;
    padding-bottom: 5px;
    padding-top: 5px;
    text-shadow:
        0 0 10px black,
        0 0 20px #b59e28,
        0 0 40px #b59e28,
        0 0 80px #b59e28,
        0 0 160px #b59e28;
}

.welcome-container h3 {
    color: #b59e28;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1.5rem;
    text-shadow:
        0 0 10px black,
        0 0 20px #b59e28,
        0 0 40px #b59e28,
        0 0 80px #b59e28,
        0 0 160px #b59e28;
}

/*-----------------------------------DRAGON STUFF----------------------------------------------------*/
.dragon-container {
    position: absolute;
    top: 20px;
    left: 0;
    /* This should stay 0 since we're using JS for positioning */
    width: 250px;
    height: 100px;
    /* Adjust size as needed */
    overflow: hidden;
    /* Keeps the dragon contained */
}

.dragon {
    position: relative;
    /* Keep this for relative positioning */
    width: 100px;
    /* Adjust this as needed */
}



/*-----------------------------------GHOST BOXES----------------------------------------------------*/
.ghost-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns of equal size */
    justify-items: center;
    /* Center boxes horizontally */
    gap: 20px;
    /* Adds space between boxes */
    width: 100%;
    /* Full width of the container */
    margin-top: -50px;
}

.wrap-collabsible {
    grid-column: span 1;
    /* Each box spans one column (half the grid) */
    width: 75%;
    /* Ensure they take up half the available space */
    margin: 0 auto;
    /* Center them inside their grid column */
    padding: 20px;
    transition: all 0.3s ease;
    color: #b59e28;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}


input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: -5px;
    font-weight: 700;
    color: #b59e28;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    padding: 8px;
    margin: 8px;
    text-align: center;

    padding: 1rem;

    background: rgba(0, 0, 0, 0.7);

    cursor: pointer;

    border: 2px inset #b59e28;
    /* Cyberpunk blue */
    border-radius: 20px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #b59e28;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 5000px;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: #b59e28;
    border-bottom: 1px solid rgba(250, 224, 66, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.textbox {
    font-family: "Marske", Delicious;
    font-size: 22px;
    background: rgba(0, 0, 0, 0.30);
    border: 2px inset #b59e28;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    padding: 10px;
}


.textbox ul,
.textbox ol {
    margin: 0;
    padding-left: 40px;
    /* Adjusts padding to position the list */
    list-style-type: disc;
    /* Displays bullets or numbers */
    color: #b59e28;

}

.textbox li,
a {

    margin-bottom: 10px;
    padding-left: 15px;
    color: #b59e28;
    text-decoration: none;
}

.textbox p {
    padding: 15px;
}

.textbox-surprise {
    display: flex;
    justify-content: space-between;
    font-family: "Marske", Delicious;
    font-size: 22px;
    background: rgba(0, 0, 0, 0.30);
    border: 2px inset #b59e28;
    /* Cyberpunk blue */
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    padding: 10px 10px;
}

.textbox-team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Ensures even spacing between items */
    align-items: flex-start;
    /* Aligns items at the top */
    width: 100%;
    background: rgba(0, 0, 0, 0.30);
    border: 2px inset #b59e28;
    border-radius: 20px;
    padding: 10px;
    white-space: nowrap;
    /* Prevents wrapping */
    overflow-x: auto;
    /* Allows horizontal scroll if the row is too wide */
}

.textbox-team a {
    display: flex;
    flex-direction: column-reverse;
    /* Ensures image is on top, text is below */
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    margin: 5px;
    text-decoration: none;
    color: #b59e28;
    width: 120px;
}

.textbox-team img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    /* Ensures the image maintains its aspect ratio */
    border-radius: 10px;
    margin-bottom: 10px;
}

.textbox-team a:hover img {
    transform: scale(1.05);
    /* slight zoom on hover */
    transition: all 0.3s ease-in-out;
    /* Smooth hover effect */
}



/*-----------------------------------------------CONTENT SPACE--------------------------------------------------*/


.long-story {
    display: grid;
    grid-template-columns: 1fr;
    /* Single column layout */
    background: rgba(0, 0, 0, 0.70);
    border: 2px inset #b59e28;
    border-radius: 20px;
    padding: 10px;
    max-width: 80%;
    /* Adjust to your preference */
    height: 500px;
    /* Set a fixed height */
    overflow-y: auto;
    /* Enable vertical scrolling */
    margin: 20px auto;
    /* Center horizontally with margin */
}

.dragon-story {
    font-family: "Marske", Delicious;
    color: #b59e28;
    font-size: 22px;
    text-align: left;
    margin: 50px;
    /* Justified text for better readability */
}

.map-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-section img {
    display: block;
    width: 80%;
    padding-bottom: 30px;
}

.shrooms-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shrooms-image img {
    display: block;
    width: 20%;
    padding-bottom: 30px;
}


.treasures {
    display: grid;
    grid-template-columns: repeat(6, auto);
    /* Adjust to auto */
    grid-auto-rows: 0;
    /* Prevents empty rows from taking space */
}


.treasures img {
    display: block;
    width: 80%;
    margin: 0 auto;

}

.shape-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}



/* ------------------------- BUTTON SPACE --------------------------------------------*/

.kool-aid-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
    padding: 50px;
    padding-top: 100px;
    color: #b59e28;
}

#enter,
button {
    position: relative;
    display: inline-block;
    align-self: center;
    font-size: 1.5em;
    letter-spacing: .1em;
    background: none;
    border-color: #b59e28;
    text-decoration: none;
    text-transform: uppercase;
    color: #b59e28;
    border: 2px solid #b59e28;
    border-radius: 15px;
    padding: 10px 30px;
    z-index: 1;
    overflow: hidden;
    transition: color 1s, box-shadow 1s;
}

#enter.active {
    color: #fff;
    box-shadow:
        0 0 10px #b59e28,
        0 0 20px #b59e28,
        0 0 40px #b59e28,
        0 0 80px #b59e28,
        0 0 160px #b59e28;
}

#enter.active::before {
    width: 100%;
    transition: 1s;
    /* Ensure the transition happens */
}



/* -------------------------------------------- Use media queries to adjust for larger screens --------------------------------------------*/
@media (min-width: 768px) {

    /* Styles for tablets and larger devices */
    body {
        font-size: 18px;
        flex-direction: row;
        justify-content: center;
        background-image: url(dms-images/dm-stormy-wide.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 10vh;
        margin: 0;
        background-color: black;
        overflow-x: hidden;
    }

    .treasures {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /* Use 1fr to distribute space equally */
        grid-auto-rows: auto;
        justify-items: center;
        padding-left: 25%;
        /* Add left padding to push items inward */
        padding-right: 10%;
        /* Optional: adjust right padding for balance */
        width: 100%;
        /* Full width for the grid */
    }

    .treasures img {
        grid-column: span 1;
        width: 80%;
        /* Adjust width to fine-tune spacing */
        justify-items: center;
        margin-left: 0;
        /* Prevent any unintended margin to the left */

    }

}

/*
@media (min-width: 1024px) {
} */
/* Styles for desktops */