/* General reset and layout */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    /* Prevent horizontal scroll */
    background-image: url(dms-images/journey-to-island.png);
    background-size: cover;
    background-color: black;
    padding-top: 150px;
}

h1,
h3 {
    color: #b59e28;
    text-shadow: 0 0 10px black, 0 0 20px #b59e28;
}

.welcome-container {
    margin: 10px;
    text-align: center;
    font-size: 1.5rem;
    overflow-wrap: break-word;
    height: 100px;
}

.spacer-div {
    height: 20px;
}

.hidden {
    display: none;
}

.treasures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.30);
    border-radius: 20px;
    padding: 10px;
}

.treasures img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

/* Responsive styling for mobile */
@media (max-width: 600px) {
    .shrooms-image {
        padding-top: 100px;
    }

    h3 {
        padding-bottom: 35px;
    }
}